:root {
  --accent-color: #4d5ae5;
  --text-color: #404bbf;
  --second-color: #2e2f42;
  --link-color: #434455;
  --background-color: #ffffff;
  --footer-text-color: #f4f4fd;
  --primary-font: "Raleway", sans-serif;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--link-color);
  background-color: #ffffff;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
img {
  display: block;
}

/**--------------Header-------------------------------**/
.header {
  border-bottom: 1px solid #e7e9fc;
  padding: 24px 0;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-menu {
  display: flex;
  gap: 40px;
}

.header-contacts-item {
  display: flex;
  gap: 40px;
}
.header-navigation {
  display: flex;
  margin-right: auto;
  align-items: center;
}
.header-container {
  display: flex;
}

.header-logo {
  font-family: var(--primary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-right: 76px;
}

.header-logo span {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-color);
}
.header-menu-link {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--text-color);
  border-radius: 2px;
}
.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-color);
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.active {
  color: var(--text-color);
}
.header-menu-link:hover {
  color: var(--text-color);
}
.header-menu-link:focus {
  color: var(--text-color);
}
.header-contacts-link:hover {
  color: var(--text-color);
}
.header-contacts-link:focus {
  color: var(--text-color);
}
.header-contacts-list {
  font-style: normal;
}
.header-contacts-link {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--link-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/**--------------MAIN----------------------------------**/
.hero {
  background-color: var(--second-color);
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  height: 600px;
  margin: auto;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--background-color);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  max-width: 496px;
}
.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--background-color);
  background-color: var(--accent-color);
  cursor: pointer;
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:focus {
  background-color: var(--text-color);
}
.hero-btn:hover {
  background-color: var(--text-color);
}
.adv-list {
  display: flex;
  gap: 24px;
}
.adv {
  padding-top: 120px;
  padding-bottom: 120px;
}
.adv-item {
  width: calc((100% - 72px) / 4);
}

.adv-list {
  display: flex;
  gap: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.adv-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  height: 112px;
  border-radius: 4px;
  background-color: #f4f4fd;
}

.adv-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--second-color);
  max-width: 1158px;
  margin-bottom: 8px;
}
.adv-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--link-color);
}
.desc-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--second-color);
  margin-bottom: 72px;
}
.desc {
  padding-bottom: 120px;
}
.desc-links {
  display: flex;
  gap: 24px;
}
.desc-item {
  width: calc((100% - 48) / 2);
}
.team {
  background-color: var(--footer-text-color);
  padding: 120px 0;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--second-color);
  margin-bottom: 72px;

  text-align: center;
}
.team-item {
  display: flex;
  gap: 24px;
}
.team-container {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 0px;
  padding-right: 0px;
}
.team-list {
  background-color: var(--background-color);
  width: calc((100% - 72) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-icons {
  display: flex;
  gap: 24px;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding-top: 8px;
}
.team-icons-list {
  width: 40px;
  height: 40px;
}
.team-icons-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  padding: 12px;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icons-link:hover {
  background-color: var(--text-color);
}
.team-icons-link:focus {
  background-color: var(--text-color);
}
.team-page-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--second-color);
  background-color: var(--background-color);
  text-align: center;
  margin-bottom: 8px;
}
.team-color {
  fill: var(--footer-text-color);
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--link-color);
  background-color: var(--background-color);
  text-align: center;
}

.custom-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--second-color);

  margin-bottom: 72px;
}
.custom {
  padding: 120px 0;
}

.custom-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin: 0;
  padding-left: 0;
}
.custom-list {
  width: calc((100% - 120px) / 6);
  height: 88px;
}
.custom-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  border: 1px solid #8e8f99;
  color: #8e8f99;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.custom-link:hover,
.custom-link:focus {
  color: #404bbf;
  border-color: #404bbf;
}
.custom-link {
  fill: currentColor;
}

/**-------------------FOOTER-----------------------------**/
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--footer-text-color);
  display: inline-block;
  margin-bottom: 16px;
}
.footer {
  background: #2e2f42;
  padding: 100px 0;
}
.footer-logo span {
  color: var(--accent-color);
}
.footer-footer {
  margin-right: 120px;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-text-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-color);
  margin-bottom: 16px;
}
.footer-social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.footer-social-list {
  width: 40px;
  height: 40px;
}
.footer-social-link {
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-icons {
  fill: #f4f4fd;
}
.footer-social-link:hover {
  background-color: #31d0aa;
}
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-input {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  width: 264px;
  height: 40px;
  border: 1px solid var(--background-color);
  border-radius: 4px;
  background-color: transparent;
  color: var(--background-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.footer-input::placeholder {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--background-color);
  padding-left: 16px;
}
.footer-soc-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-color);
}
.footer-sub {
  margin-left: auto;
}
.footer-form {
  display: flex;
  gap: 24px;
}
.footer-btn {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: flex;
  min-width: 165px;
  height: 40px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
}
.footer-svg {
  margin-left: 16px;
}

/**--------------------------------PORTFOLIO--------------------**/
body {
  font-family: "Roboto", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  padding: 24px 0;
}
.header-menu {
  display: flex;
  gap: 40px;
}

.header-contacts-item {
  display: flex;
  gap: 40px;
}
.header-navigation {
  display: flex;
  margin-right: auto;
}
.header-container {
  display: flex;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.aplication {
  padding-top: 96px;
  padding-bottom: 120px;
}
.aplication-click {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  gap: 24px;
}

.aplication-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  background: var(--footer-text-color);
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  display: block;
  padding: 12px 24px 12px 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.aplication-btn:hover {
  color: var(--background-color);
  background-color: var(--text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.aplication-btn:focus {
  color: var(--background-color);
  background-color: var(--text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.imagess {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 48px 24px;
}

.imagess-item {
  width: 360px;
}
.imagess-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  position: relative;
}

.imagess-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--second-color);
  margin-bottom: 8px;
}

.imagess-text-col {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--link-color);
}

.imagess-image {
  position: relative;
  overflow: hidden;
}
.imagess-img {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.imagess-img:hover,
.imagess-img:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translate(0%);
}

.imagess-img:hover .hidden-text,
.imagess-img:focus .hidden-text {
  transform: translate(0%);
}

.hidden-text {
  position: absolute;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-text-color);
  background-color: var(--accent-color);
  padding: 40px 32px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition-property: transform;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/**-------------------FOOTER---------------------**/
.footer-logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
  display: inline-block;
  margin-bottom: 16px;
}

.footer {
  background: #2e2f42;
  padding: 100px 0;
}
.footer-logo span {
  color: var(--footer-text-color);
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-text-color);
  max-width: 264px;
}
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.modal {
  position: absolute;
  transform: translate(-50%, -50%) scale(1);
  transition: transform translate(-50%, -50%) scale(0);
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal-btn:hover {
  background-color: var(--text-color);
  border: none;
  fill: #ffffff;
}
.modal-btn:focus {
  background-color: var(--text-color);
  border: none;
  fill: #ffffff;
}
.modal-icons {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  max-width: 360px;
  color: var(--second-color);
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.modal-container {
  margin-bottom: 8px;
}

.modal-lebel {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-input {
  display: block;
  padding-left: 38px;
  width: 100%;
  height: 40px;
  text-indent: 38px;
  border: 1px Solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: var(--accent-color);
}
.modal-input:focus + .icon-modals {
  fill: var(--accent-color);
}
.modal-area {
  margin-bottom: 16px;
}

.modal-wrap {
  position: relative;
}
.icon-modals {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea {
  display: block;
  resize: none;
  font-size: 12px;
  margin-bottom: 8px;
  width: 360px;
  height: 120px;
  padding: 8px 16px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-checkbox {
  margin-bottom: 24px;
}
.check-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  align-items: center;
}
.check-link {
  color: var(--accent-color);
}
.check-text span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  cursor: pointer;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-check:checked + .check-text span {
  background-color: var(--text-color);
  fill: #f4f4fd;
  border: none;
}
.modal-field {
  margin-top: 24px;
}
.btn-send {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: block;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin: auto;
  margin-bottom: 24px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
